<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <hr>
    <h2>Yayınevi Düzenle</h2>

    <form action="#" th:action="@{/publisher/updatePublisher/{id}(id=${publisher.publisherId})}" th:object="${publisher}"
          method="POST">

        <input type="text" th:field="*{publisherName}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{publisherExplanation}" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2">Kaydet</button>
    </form>
    <hr>
    <a th:href="@{/}">Yazar Listesine Dön</a>
</div>
</body>
</html>